.attribution { font-size: 11px; text-align: center;padding:10px; }
.attribution a { color: hsl(228, 45%, 44%); }
body{
    background-color: hsl(212, 45%, 89%);
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align:center;
    background-color:#fff;
    border-radius: 20px;
    padding:16px ;
    margin:auto;
    margin-top: 5%;
}
.card img{
    border-radius: 15px;
}
.card p{
    font-size:15px;
    color:hsl(216, 15%, 48%);
    font-family: 'Outfit',sans-serif;
}
.card h3{
    font-family:'Outfit',sans-serif;
}